*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    color: white;
}

select {
    appearance: none;
    border: 0;
    outline: 0;
    background: none;
    color: inherit;
    box-shadow: none;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: min(20rem, 90vw);
    background: linear-gradient(to left, #34495e 3rem, #2c3e50 3rem);
    border-radius: 0.25rem;
    overflow: hidden;
}

.select select {
    flex: 1;
    padding: 1em;
    cursor: pointer;
}

