.todo-completed {
  text-decoration: line-through;
  color: green;
}

.todo-incomplete {
  color: red;
}

.edit-btn {
  margin-left: 10px;
}

body {
  background: #14a8e3;
  background: linear-gradient(
    90deg,
    rgba(20, 168, 227, 1) 0%,
    rgba(87, 199, 133, 1) 41%,
    rgba(14, 198, 240, 1) 75%,
    rgba(117, 230, 125, 1) 100%
  );
}

li {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
